<div class="container p-4">
    <div class ="row">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form class="row gx-3 gy-2 align-items-center">
                    <div class="col-md-12">
                      <label for="inputAddress" class="form-label">Ejecutivo de cuenta:</label>
                      <div class="input-group">
                            <select class="form-select" id="ejecutivo">
                            </select>
                      </div>
                      
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-4">
    <form action="/nomina/pagar" method="POST">
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Empresa</th>
        <th scope="col">Nombres</th>
        <th scope="col">Banco</th>

        <th scope="col">Cuenta</th>
                <th scope="col">Clabe Interbancaria</th>
        <th scope="col">Sueldo Neto</th>
        <th scope="col">Total a pagar</th>
        <th scope="col">Del</th>
        <th scope="col">Al</th>
        <th scope="col">Pagado</th>
        </tr>
    </thead>
    <tbody>
        {{#each operaciones}}
            <tr>
            <td scope="row">{{trabajadorId}}</td>
            <td>{{nombreEmpresa}}</td>
            <td>{{nombre}}</td>
            <td><p class="m-2">{{banco}}</p></td>
            <td><p>{{cuenta}}</p></td>
            <td><p class="m-2">{{clabe}}</p></td>
            <td><p>{{sueldoNeto}}</p></td>
            <td><p>{{totalPagar}}</p></td>
            <td><p>{{dateFormat fechaInicio}}</p></td>
            <td><p>{{fechaFin}}</p></td>
            <td><input type="checkbox" name="estatusPago" value="{{operacionId}}"></td>
            </tr>
        {{/each}}
    </tbody>
    </table>
    <input value="" name="fecha" id="fecha" hidden>
                        <div class="col-12">
                        <div class="d-grid gap-2">
                                <button class="btn btn-primary">
                                    Pagar
                                </button>
                        </div>
                    </div>
    </form>
</div>


<script>
    //Obtener reclutadores unicos
    const tiempoTranscurrido = Date.now();
    const hoy = new Date(tiempoTranscurrido);

    let año = hoy.getFullYear().toString();
    let mes = hoy.getMonth();
    let dia = hoy.getDate();
    let hora = hoy.getHours();
    let minuto = hoy.getMinutes();
    let segundo = hoy.getSeconds();
    const cero = function(fecha){
        if(fecha<10){
            return('0'+fecha);
        }else{
            return(fecha);
        }
    }

    let fechita = año + '-' + (cero(mes+1)) + '-' + (cero(dia)) + ' ' + (cero(hora)) + ':' + (cero(minuto)) + ':' + (cero(segundo));

    let fecha = document.getElementById("fecha");
    fecha.setAttribute("value", fechita);

    

   let ejecutivo = [];
   let ejecutivosID = [];

    {{#each ejecutivos}}
        ejecutivo.push("{{nombre}}");
        ejecutivosID.push("{{id}}");
    {{/each}}



    const ejecutivos = document.getElementById("ejecutivo");
    for(i=0; i<ejecutivo.length;i++){
        let opcion = document.createElement('option');
        opcion.setAttribute("value", ejecutivosID[i]);
        let texto = document.createTextNode(ejecutivo[i]);
        opcion.appendChild(texto);
        ejecutivos.appendChild(opcion);
    }

    ejecutivos.addEventListener('change', 
    function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("empresa");
        filter = ejecutivos.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        inputEsquema = document.getElementById("esquema");
        inputEsquema.setAttribute("value","")
        input.value
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }
        }
    });



</script>

<!--
    FILTRAR POR EJECUTIVO DE CUENTA
    DESPLEGAR EL NOMBRE DE LA EMPRESA
    ORDENAR POR CUENTA
    PONER FECHAS LIMITE
    ->