


<div class="container p-4">
    <div class ="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <!--
                    <div class="col-md-12">
                        <div class="d-grid gap-2">
                            <a href="/ejecutivo/heb" class="btn btn-primary m-4">
                                 HEB
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="d-grid gap-2">
                            <a href="/ejecutivo/alta" class="btn btn-success m-4">
                                 Dar de alta
                            </a>
                        </div>
                    </div>
                    -->
                    <form method="GET" action="/ejecutivo/nomina/">
                    <div class="col-md-12">
                      <label for="inputAddress" class="form-label">Empresa:</label>
                      <div class="input-group">
                            <select class="form-select" id="empresa" name="idEmpresa" required>
                                
                            </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success m-4">
                                 Crear Nomina
                            </button>
                        </div>
                    </div>
                    </form>

                   
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container p-3">
    <form action="/ejecutivo" class="row g-3" method="POST">
    <div class="table-responsive">
    <table class="table table-hover " width="500px"id="myTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
        </tr>
    </thead>
    <tbody>

        {{#each trabajadores}}
            <tr>
                <td scope="row" hidden>
                    {{empresaId}}
                </td>
                <td scope="row" hidden>
                    <input type="number" value="{{sueldoIMSS}}" name="IMSS"  readonly>
                </td>
                 <td scope="row" hidden>
                    <input type="number" value="{{id}}" name="id" readonly>
                </td>
                <td scope="row" hidden>
                    <input type="number" value="{{sueldoBase}}" name="sueldoBase" readonly>
                </td>
                <td scope="row">{{nombreEmpresa}}</td>
                <td scope="row">{{ciudad}}</td>
                <td scope="row">
                    <input type="text" style="border: hidden;" style="background-color:transparent;" value="{{nombre}}" name="nombre" readonly>
                </td>
                <td scope="row">{{puesto}}</td>
                

            </tr>
        {{/each}}

    </tbody>
    </table>
    </div>
</div>


<script>


   let empresas= [];
   let empresasID = [];
   let esquemas = [];
   let cotizador = [];

    {{#each empresas}}
        empresas.push("{{nombreEmpresa}}");
        empresasID.push("{{id}}");
        esquemas.push("{{esquema esquema}}")
        cotizador.push("{{cotizador cotizador}}")
    {{/each}}

    const empresa = document.getElementById("empresa");
    for(i=0; i<empresas.length;i++){
        let opcion = document.createElement('option');
        opcion.setAttribute("value", empresas[i]);
        let texto = document.createTextNode(empresas[i]);
        opcion.appendChild(texto);
        empresa.appendChild(opcion);
    }

 empresa.addEventListener('change', 
  function(){
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("empresa");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");


    //inputEsquema = document.getElementById("esquema");
    //inputEsquema.setAttribute("value","")
    //input.value
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[4];
      
      if (td) {
        txtValue = td.textContent || td.innerText;

        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });

    


</script>



<!--

    <div class="container p-4">
    <form action="/ejecutivo", class="row g-3" method="POST">
    <table class="table table-hover" id="myTable2">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Ciudad</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
            <th scope="col">L</th>
            <th scope="col">M</th>
            <th scope="col">Mi</th>
            <th scope="col">J</th>
            <th scope="col">V</th>
            <th scope="col">S</th>
            <th scope="col">D</th>
            <th scope="col">Compensaciones</th>
            <th scope="col">Rebajes</th>


        </tr>
    </thead>
    <tbody>

        {{#each trabajadores}}
            <tr>
                <td scope="row" hidden>
                    {{empresaId}}
                </td>
                 <td scope="row">
                    <input type="hidden" value="{{id}}" name="id" readonly>
                </td>
                <td scope="row">
                    <input type="hidden" value="{{sueldoBase}}" name="sueldoBase" readonly>
                </td>
                <td scope="row">{{ciudad}}</td>
                <td scope="row">
                    <input type="text" value="{{nombre}}" name="nombre" readonly>
                </td>
                <td scope="row">{{puesto}}</td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="L">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="M">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Mi">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="J">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="V">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="S">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="D">
                    </div>
                </td>
                <td>
                    <input type="number" name="compensacion" step='0.01' required>
                </td>
                <td>
                    <input type="number" name="rebajes" step='0.01' required>
                </td>
            </tr>
        {{/each}}

    </tbody>
    </table>
         <div class="form-group mb-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-success">
                                    Guardar
                                </button>
                            </div>
                        </div>
            </form>
</div>
-->
