


<div class="container p-4">
    <div class ="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form class="row gx-3 gy-2 align-items-center">
                    <div class="col-md-6">
                      <label for="inputAddress" class="form-label">Empresa:</label>
                      <div class="input-group">
                            <select class="form-select" id="empresa">
                            </select>
                      </div>
                      
                    </div>

                    <div class="col-md-3">
                      <label for="inputAddress"class="form-label" >Del:</label>
                      <div class="input-group">
                      <input type="date"  id="inputFechaInicio">
                      </div>
                    </div>

                    <div class="col-md-3">
                      <label for="inputAddress" class="form-label">Al:</label>
                       <div class="input-group">
                      <input type="date" id="inputFechaFin">
                      </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container p-4">
    <form action="/ejecutivo", class="row g-3" method="POST">
    <table class="table table-hover" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Ciudad</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
            <th scope="col">Faltas</th>
            <th scope="col">Compensaciones</th>
            <th scope="col">Rebajes</th>


        </tr>
    </thead>
    <tbody>

        {{#each trabajadores}}
            <tr>
                <td scope="row" hidden>
                    {{empresaId}}
                </td>
                 <td scope="row">
                    <input type="hidden" value="{{id}}" name="id" readonly>
                </td>
                <td scope="row">
                    <input type="hidden" value="{{sueldoBase}}" name="sueldoBase" readonly>
                </td>
                <td scope="row">{{ciudad}}</td>
                <td scope="row">
                    <input type="text" style="border: hidden;" style="background-color:transparent;" value="{{nombre}}" name="nombre" readonly>
                </td>
                <td scope="row">{{puesto}}</td>
                <td>
                    <input type="number" name="faltas" step='1' min='0' max='15' required>
                </td>
                <td>
                    <input type="number" name="compensacion" step='0.01' required>
                </td>
                <td>
                    <input type="number" name="rebajes" step='0.01' required>
                </td>
            </tr>
        {{/each}}

    </tbody>
    </table>
         <div class="form-group mb-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-success">
                                    Guardar
                                </button>
                            </div>
                        </div>

            <input type="text" id="esquema" name="esquema" hidden> 
            <input type="date" id="fechaInicio" name="fechaInicio" hidden required>    
            <input type="date" id="fechaFin" name="fechaFin" hidden required>  
            </form>
</div>


<script>
    const segundosAdias = 24*60*60*(1000);
    let dias = 22;
    const tiempoTranscurrido = Date.now();
    const hoy = new Date(tiempoTranscurrido);
    const dia = hoy.getDate();
    const mes = hoy.getMonth();
    const mes2 = hoy.getMonth()+1;
    const año = hoy.getFullYear().toString();

    const cero = function(fecha){
        if(fecha<10){
            return('0'+fecha);
        }else{
            return(fecha);
        }
    }

    let inicioMin2 = new Date(tiempoTranscurrido-(dias*segundosAdias));
    let inicioMin = ((inicioMin2.getFullYear().toString()) + '-' + cero(inicioMin2.getMonth()+1) + '-' + cero(inicioMin2.getDate()));
    let inicioMax2 = new Date(tiempoTranscurrido-(7*segundosAdias));
    let inicioMax = ((inicioMax2.getFullYear().toString()) + '-' + cero(inicioMax2.getMonth()+1) + '-' + cero(inicioMax2.getDate()));

    let finMin2 = new Date(tiempoTranscurrido-(7*segundosAdias));
    let finMin = ((finMin2.getFullYear().toString()) + '-' + cero(finMin2.getMonth()+1) + '-' + cero(finMin2.getDate()));
    let finMax2 = new Date(tiempoTranscurrido);
    let finMax = ((finMax2.getFullYear().toString()) + '-' + cero(finMax2.getMonth()+1) + '-' + cero(finMax2.getDate()));

    inputFechaIni = document.getElementById("inputFechaInicio");
    inputFechaIni.setAttribute("min", inicioMin);
    inputFechaIni.setAttribute("max", inicioMax);

    inputFechaFin = document.getElementById("inputFechaFin");
    inputFechaFin.setAttribute("min", finMin);
    inputFechaFin.setAttribute("max", finMax);


    //Obtener reclutadores unicos
   let empresas= [];
   let empresasID = [];
   let esquemas = [];

    {{#each empresas}}
        empresas.push("{{nombre}}");
        empresasID.push("{{id}}");
        esquemas.push("{{esquema}}")
    {{/each}}


    const empresa = document.getElementById("empresa");
    for(i=0; i<empresas.length;i++){
        let opcion = document.createElement('option');
        opcion.setAttribute("value", i);
        let texto = document.createTextNode(empresas[i]);
        opcion.appendChild(texto);
        empresa.appendChild(opcion);
    }

 empresa.addEventListener('change', 
  function(){
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("empresa");
    filter = empresasID[input.value].toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    inputEsquema = document.getElementById("esquema");
    inputEsquema.setAttribute("value","")
    input.value
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  });

    const esquema = document.getElementById("esquema");
    esquema.setAttribute("value",esquemas[empresa.value]);

    const inputfechainicio = document.getElementById("inputFechaInicio");
    const inputfechafin = document.getElementById("inputFechaFin");

    const outputfechainicio = document.getElementById("fechaInicio");
    const outputfechafin = document.getElementById("fechaFin");

    inputfechainicio.addEventListener('change', function(){
        let fecha = inputfechainicio.value;
        outputfechainicio.setAttribute("value",fecha);
    })

    inputfechafin.addEventListener('change', function(){
        let fecha2 = inputfechafin.value;
        outputfechafin.setAttribute("value",fecha2);
    })

    console.log(hoy);
    console.log(mes2);
    console.log(año);
    console.log(dia);
    let dosdias = new Date(tiempoTranscurrido-(2*segundosAdias));
    console.log(dosdias);
    console.log(segundosAdias);


</script>



<!--

    <div class="container p-4">
    <form action="/ejecutivo", class="row g-3" method="POST">
    <table class="table table-hover" id="myTable2">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Ciudad</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
            <th scope="col">L</th>
            <th scope="col">M</th>
            <th scope="col">Mi</th>
            <th scope="col">J</th>
            <th scope="col">V</th>
            <th scope="col">S</th>
            <th scope="col">D</th>
            <th scope="col">Compensaciones</th>
            <th scope="col">Rebajes</th>


        </tr>
    </thead>
    <tbody>

        {{#each trabajadores}}
            <tr>
                <td scope="row" hidden>
                    {{empresaId}}
                </td>
                 <td scope="row">
                    <input type="hidden" value="{{id}}" name="id" readonly>
                </td>
                <td scope="row">
                    <input type="hidden" value="{{sueldoBase}}" name="sueldoBase" readonly>
                </td>
                <td scope="row">{{ciudad}}</td>
                <td scope="row">
                    <input type="text" value="{{nombre}}" name="nombre" readonly>
                </td>
                <td scope="row">{{puesto}}</td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="L">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="M">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Mi">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="J">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="V">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="S">
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="D">
                    </div>
                </td>
                <td>
                    <input type="number" name="compensacion" step='0.01' required>
                </td>
                <td>
                    <input type="number" name="rebajes" step='0.01' required>
                </td>
            </tr>
        {{/each}}

    </tbody>
    </table>
         <div class="form-group mb-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-success">
                                    Guardar
                                </button>
                            </div>
                        </div>
            </form>
</div>
-->
