<div class="container p-4">
    <div class ="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3" action="/imss/addempleado/", method="POST">
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Nombre(s)</label>
                        <input type="text" class="form-control" name="nombre" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" name="apellidoPaterno" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" name="apellidoMaterno" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Estado Civil</label>
                        <input type="text" class="form-control" name="estadoCivil" value="{{trabajador.estadoCivil}}" placeholder="{{trabajador.estadoCivil}}"  >
                    </div>
                    <div class="col-md-2">
                        <label for="inputEmail4" class="form-label">ID Empleado</label>
                        <input type="text" class="form-control" name="idEmpleado" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4" class="form-label">NSS</label>
                        <input type="text" class="form-control" name="NSS" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">CURP</label>
                        <input type="text" class="form-control" name="CURP" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">RFC</label>
                        <input type="text" class="form-control" name="RFC" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Calle</label>
                        <input type="text" class="form-control" name="calle" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Número Interior</label>
                        <input type="number" class="form-control" name="numerointerior" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Número Exterior</label>
                        <input type="text" class="form-control" name="numeroexterior" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Código Postal</label>
                        <input type="text" class="form-control" name="codigopostal" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Colonia</label>
                        <input type="text" class="form-control" name="colonia" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Municipio</label>
                        <input type="text" class="form-control" name="municipio" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Estado</label>
                        <input type="text" class="form-control" name="estado" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Patrón</label>
                        <select name="patron" class="form-select" >
                            <option selected disabled>Seleccionar...</option>
                            {{#each patrones}}
                                <option value="{{idpatrones}}">{{patron}}</option>
                            {{/each}}
                        </select>
                    </div>
                     <div class="col-md-3">
                        <label for="inputEmail4" class="form-label">Cliente</label>
                        <select name="empresa" class="form-select" >
                            <option selected disabled>Seleccionar...</option>
                            {{#each empresa}}
                                <option value="{{id}}">{{nombreEmpresa}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" name="ciudad" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Puesto</label>
                        <input type="text" class="form-control" name="puesto" >
                    </div>
                      <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Horario</label>
                        <input type="text" class="form-control" name="horario" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Banco</label>
                        <input type="text" class="form-control" name="banco" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Clabe</label>
                        <input type="text" class="form-control" name="clabe" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Cuenta</label>
                        <input type="text" class="form-control" name="cuenta"  >
                    </div>

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Sueldo Neto</label>
                        <input type="number" step="0.01" class="form-control" name="sueldoBase" >
                    </div>

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Salario Diario</label>
                        <input type="number" step="0.01" class="form-control" name="sueldoIMSS" >
                    </div>

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Infonavit</label>
                        <select name="infonavit" class="form-select">
                            <option selected value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>    

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Descuento Infonavit Diario</label>
                        <input type="number" step="0.01" class="form-control" name="rebajeInfonavit" >
                    </div>

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Fonacot</label>
                        <select name="fonacot" class="form-select">
                            <option selected value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>    

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Descuento fonacot Diario</label>
                        <input type="number" step="0.01" class="form-control" name="rebajeFonacot" >
                    </div>

                    <div class="col-md-3">
                        <label for="inputFecha" class="form-label">Fecha de Ingreso</label>
                        <input type="date" class="form-control" name="fechaIngreso">
                    </div>


                    <div class="col-12">
                        <div class="d-grid gap-2">
                                <button class="btn btn-primary">
                                    Guardar
                                </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
