<div class="container p-4">
    <div class ="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3" action="/imss/editar/{{trabajador.id}}", method="POST">
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Nombre(s)</label>
                        <input type="text" class="form-control" name="nombre" value="{{trabajador.nombre}}" placeholder="{{trabajador.nombre}}" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" name="apellidoPaterno" value="{{trabajador.apellidoPaterno}}" placeholder="{{trabajador.apellidoPaterno}}"  required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" name="apellidoMaterno" value="{{trabajador.apellidoMaterno}}" placeholder="{{trabajador.apellidoMaterno}}"  required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Estado Civil</label>
                        <input type="text" class="form-control" name="estadoCivil" value="{{trabajador.estadoCivil}}" placeholder="{{trabajador.estadoCivil}}"  >
                    </div>
                    <div class="col-md-2">
                        <label for="inputEmail4" class="form-label">ID Empleado</label>
                        <input type="text" class="form-control" name="idEmpleado" value="{{trabajador.idEmpleado}}" placeholder="{{trabajador.idEmpleado}}">
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4" class="form-label">NSS</label>
                        <input type="text" class="form-control" placeholder="{{trabajador.NSS}}" value="{{trabajador.NSS}}" name="NSS" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4" class="form-label">CURP</label>
                        <input type="text" class="form-control" placeholder="{{trabajador.CURP}}" value="{{trabajador.CURP}}" name="CURP" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4" class="form-label">RFC</label>
                        <input type="text" class="form-control" placeholder="{{trabajador.RFC}}" value="{{trabajador.RFC}}" name="RFC" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Calle</label>
                        <input type="text" class="form-control" name="calle" value="{{trabajador.calle}}" placeholder="{{trabajador.calle}}"  >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Número Interior</label>
                        <input type="number" class="form-control" name="numeroInterior" value="{{trabajador.numeroInterior}}" placeholder="{{trabajador.numeroInterior}}" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Número Exterior</label>
                        <input type="text" class="form-control" name="numeroExterior" value="{{trabajador.numeroExterior}}" placeholder="{{trabajador.numeroExterior}}" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Código Postal</label>
                        <input type="text" class="form-control" name="codigoPostal" value="{{trabajador.codigoPostal}}" placeholder="{{trabajador.codigoPostal}}" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Colonia</label>
                        <input type="text" class="form-control" name="colonia" value="{{trabajador.colonia}}" placeholder="{{trabajador.colonia}}" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Municipio</label>
                        <input type="text" class="form-control" name="municipio" value="{{trabajador.municipio}}" placeholder="{{trabajador.municipio}}" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Estado</label>
                        <input type="text" class="form-control" name="estado" value="{{trabajador.estado}}" placeholder="{{trabajador.estado}}" >
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Patrón</label>
                        <select name="patron" class="form-select" >
                            <option value="{{trabajador.patronId}}" selected >{{trabajador.patron}}</option>
                            {{#each patrones}}
                                <option value="{{idpatrones}}">{{patron}}</option>
                            {{/each}}
                        </select>
                    </div>
                     <div class="col-md-3">
                        <label for="inputEmail4" class="form-label">Empresa</label>
                        <select name="empresa" class="form-select">
                            <option selected value="{{trabajador.empresaId}}">{{trabajador.nombreEmpresa}}</option>
                            {{#each empresas}}
                                <option value="{{id}}">{{nombreEmpresa}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" name="ciudad" placeholder="{{trabajador.ciudad}}" value="{{trabajador.ciudad}}">
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Puesto</label>
                        <input type="text" class="form-control" name="puesto" placeholder="{{trabajador.puesto}}" value="{{trabajador.puesto}}" >
                    </div>
                      <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Horario</label>
                        <input type="text" class="form-control" name="horario" placeholder="{{trabajador.horario}}" value="{{trabajador.horario}}" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Banco</label>
                        <input type="text" class="form-control" name="banco" placeholder="{{trabajador.banco}}" value="{{trabajador.banco}}" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Clabe</label>
                        <input type="text" class="form-control" name="clabe" placeholder="{{trabajador.clabe}}" value="{{trabajador.clabe}}" >
                    </div>
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Cuenta</label>
                        <input type="text" class="form-control" name="cuenta" placeholder="{{trabajador.cuenta}}" value="{{trabajador.cuenta}}" >
                    </div>
                    

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Sueldo Base</label>
                        <input type="number" step="0.01" class="form-control" name="sueldoBase" placeholder="{{trabajador.sueldoBase}}" value="{{trabajador.sueldoBase}}" >
                    </div>

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Sueldo IMSS</label>
                        <input type="number" step="0.01" class="form-control" name="sueldoIMSS" placeholder="{{trabajador.sueldoIMSS}}" value="{{trabajador.sueldoIMSS}}" >
                    </div>
                    
                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Infonavit</label>
                        <select name="infonavit" class="form-select">
                            {{#if (status trabajador.infonavit)}}
                            <option selected value="1">Sí</option>
                            <option value="0">No</option>
                            {{else}}
                            <option value="1">Sí</option>
                            <option selected value="0">No</option>
                            {{/if}}
                        </select>
                    </div>       

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Rebaje Infonavit</label>
                        <input type="number" step="0.01" placeholder="{{trabajador.rebajeInfonavit}}" value="{{trabajador.rebajeInfonavit}}" class="form-control" name="rebajeInfonavit" >
                    </div>

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Fonacot</label>
                        <select name="fonacot" class="form-select">
                            {{#if (status trabajador.fonacot)}}
                            <option selected value="1">Sí</option>
                            <option value="0">No</option>
                            {{else}}
                            <option value="1">Sí</option>
                            <option selected value="0">No</option>
                            {{/if}}
                        </select>
                    </div>    

                    <div class="col-md-3">
                        <label for="inputAddress" class="form-label">Rebaje fonacot</label>
                        <input type="number" step="0.01" placeholder="{{trabajador.rebajeFonacot}}" value="{{trabajador.rebajeFonacot}}" class="form-control" name="rebajeFonacot" >
                    </div>
                    
                    <!-- Boton para dar de alta en el IMSS 
                    <div class="col-12">
                         <div class="d-grid gap-2">
                            <button onclick="location.href='/imss/alta/{{trabajador.id}}';" class="btn btn-success">
                                    Alta
                            </button>
                        </div>
                    </div>
                    -->

                    <div class="col-md-3">
                        <label for="inputFecha" class="form-label">Fecha de Ingreso</label>
                        <input type="date" class="form-control" value="{{dateFormat2 trabajador.fechaIngreso}}" name="fechaIngreso">
                    </div>
                    
                        
                    
                    <div class="col-12">
                        <div class="d-grid gap-2">
                                <button class="btn btn-primary">
                                    Guardar
                                </button>
                        </div>
                    </div>
                    </form>

                    
                </div>
            </div>
        </div>
    </div>
</div>
