<div class="container p-4">
    <div class ="row">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form class="row gx-3 gy-2 align-items-center">

                        <div class="col-md-6">
                            <div class="d-grid gap-2">
                                <a href="/imss/addempleado" class="btn btn-success m-4">
                                    Dar de alta empleado
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-grid gap-2">
                                <a href="/imss/addempresa" class="btn btn-success m-4">
                                    Dar de alta empresa
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="inputAddress" class="form-label">Empresa:</label>
                            <div class="input-group">
                                    <select class="form-select" id="empresa"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="inputAddress" class="form-label">Patron:</label>
                            <div class="input-group">
                                    <select class="form-select" id="patron"></select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-4">
    <table class="table table-hover" >
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Empresa</th>
        <th scope="col">Nombre</th>
        <th scope="col">Banco</th>
        <th scope="col">Cuenta</th>
        <th scope="col">Clabe Interbancaria</th>
        <th scope="col">IMSS</th>
        <th scope="col">Sueldo Base</th>
        <th scope="col">Editar</th>
        <th scope="col">Dar de baja</th>
        </tr>
    </thead>
    <tbody>
        {{#each pendientes}}
            <tr>
            <th scope="row">{{id}}</th>
            <th>{{nombreEmpresa}}</th>
            <th>{{nombre}}</th>
            <th><p class="m-2">{{banco}}</p></th>
            <th><p>{{cuenta}}</p></th>
            <th><p class="m-2">{{clabe}}</p></th>
            <th><p>{{IMSS}}</p></th>
            <th><p>{{accountingFormat sueldoBase}}</p></th>
            <th><a href="/imss/editar/{{id}}">Editar</a></th>
            <th><a href="/imss/baja/{{id}}">Baja</a></th>
            </tr>
        {{/each}}
    </tbody>
    </table>

</div>


<hr>

<div class="container p-4">
    <table class="table table-hover" id="myTable">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Empresa</th>
        <th scope="col">Patron</th>
        <th scope="col">Nombre</th>
        <th scope="col">Banco</th>
        <th scope="col">Cuenta</th>
        <th scope="col">Clabe Interbancaria</th>
        <th scope="col">IMSS</th>
        <th scope="col">Sueldo Base</th>
        <th scope="col">Editar</th>
        <th scope="col">Dar de baja</th>
        </tr>
    </thead>
    <tbody>
        {{#each trabajadores}}
            <tr>
            <td scope="row">{{idEmpleado}}</td>
            <td>{{nombreEmpresa}}</td>
            <td>{{patron}}</td>
            <td>{{nombre}}</td>
            <td><p class="m-2">{{banco}}</p></td>
            <td><p>{{cuenta}}</p></td>
            <td><p class="m-2">{{clabe}}</p></td>
            <td><p>{{accountingFormat sueldoIMSS}}</p></td>
            <td><p>{{accountingFormat sueldoBase}}</p></td>
            <td><a href="/imss/editar/{{id}}">Editar</a></td>
            <td><a href="/imss/baja/{{id}}">Baja</a></td>
            </tr>
        {{/each}}
    </tbody>
    </table>

</div>




<script>
    //Obtener empresas
   let empresa = [];
   let empresasID = [];

    {{#each empresas}}
        empresa.push("{{nombreEmpresa}}");
        empresasID.push("{{id}}");
    {{/each}}



    const empresas = document.getElementById("empresa");
    for(i=0; i<empresa.length;i++){
        let opcion = document.createElement('option');
        opcion.setAttribute("value", empresa[i]);
        let texto = document.createTextNode(empresa[i]);
        opcion.appendChild(texto);
        empresas.appendChild(opcion);
    }
    

    empresas.addEventListener('change', 
    function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("empresa");
        filter = empresas.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }
        }
    });


    //Obtener patrones

    let patron = [];
   let patronId = [];

    {{#each patrones}}
        patron.push("{{patron}}");
        patronId.push("{{idpatrones}}");
    {{/each}}



    const patrones = document.getElementById("patron");
    for(i=0; i<patron.length;i++){
        let opcion = document.createElement('option');
        opcion.setAttribute("value", patron[i]);
        let texto = document.createTextNode(patron[i]);
        opcion.appendChild(texto);
        patrones.appendChild(opcion);
    }
    

    patrones.addEventListener('change', 
    function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("patron");
        filter = patrones.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }
        }
    });

</script>
